body {
  font-family: "nunitosans", sans-serif!important;
  font-weight: normal;
  color: #272d37;
  font-size:14px;
}

a {
  color: #f4a83a;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6{
  color:#1d263a;
  font-weight:bold;
}

h1{
  font-size:40px;
}

h4{
  line-height:20px;
  margin-bottom:5px!important;
}

p {
  color: #272d37;
  font-size:14px;
  line-height:20px;
}

.text-header{
  font-size:16px;
  margin-bottom: 20px;
  line-height: 20px;
}

h2.subtitle{
  color:#335B7A;
  margin-bottom:20px;
}
.icon{
    text-align: center;
    padding:5px;
}

#logo {
  float: left;
}

.hr{
  border-bottom:2px dashed #1d263a;
  margin-bottom:20px;
  margin-top:20px;
}

.informacion{
  background-color:#f4f8fb;
  padding:10px;
  border-radius:10px;
  margin:10px 0px;
}

.informacion2{
  background-color:#e6eff6;;
  padding:10px;
  border-radius:10px;
  margin:10px 0px;
}

.informacion3{
  background-color:#EAEEF1;
  padding:10px;
  border-radius:10px;
  margin:5px 0px;
}

#presupuesto {
  float: right;
  text-align: right;
}

#resumen {
  float: right;
  text-align: right;
}

footer {
  width: 100%;
  height: 30px;
  position: absolute;
  bottom: 0;
  padding: 8px 0;
  font-size: 11px;
  margin-top:10px;
}

.list li{
  list-style: square;
  position: relative;
}

.list li h4{
  margin-top:0;
  margin-bottom:10px;
}

.subSquare{
  border-radius:10px;
  padding:20px;
  text-align:center
}


table {
  width: 100%;
  border-collapse: collapse;
}

table.info {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

table.info th{
  text-align:left;
  font-weight:bold;
}

table.info th, 
table.info td {
  padding: 10px;
  letter-spacing:0.5px;
  vertical-align: top;
}

table.presupuesto td {
text-align: left;
}

table.presupuesto th {
padding: 10px 5px;
white-space: nowrap;        
font-weight: normal;
}

table.presupuesto thead th{
  background-color:#f4f8fb;
  font-weight:bold;
}

table.presupuesto .product{
  text-align: left;
}

table.presupuesto td {
padding: 10px 10px 10px 5px;
text-align: right;
}

table.presupuesto td.service,
table.presupuesto td.desc {
vertical-align: top;
}

table.presupuesto td.total {
font-weight: bold;
font-size:15px;
}

table.presupuesto td.grand {
border-top: 2px dashed #1d263a;
font-size:14px;
}

table.datos td{
    padding:5px 0px;
}

table.presupuesto-2 td {
  text-align: right;
}
  
table.presupuesto-2 thead th{
  padding: 5px;
  white-space: nowrap;  
  background-color:#f4f8fb;
  font-weight: bold;
  text-align: right;
}

.tecnico td, th {
  text-align: left;
  padding: 8px;
}

.tecnico td {
  background-color: #f4f8fb;
}

.subtitle td{
  background-color: #f4f8fb;
}

.container {
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom:10px;
  margin-top:10px;
}

.container-fluid {
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto;
}

.form-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: 0px;
  margin-left: 0px;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-right: 5px;
  padding-left: 5px;
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
float: left;
}
.col-xs-12 {
  width: 98%;
}

.col-xs-11 {
  width: 91.66666667%;
}

.col-xs-10 {
  width: 82.33333333%;
}

.col-xs-9 {
  width: 75%;
}

.col-xs-8 {
  width: 65.66666667%;
}

.col-xs-7 {
  width: 56.33333333%;
}

.col-xs-6 {
  width: 48%;
}

.col-xs-5 {
  width: 40.66666667%;
}

.col-xs-4 {
  width: 31.33333333%;
}

.col-xs-3 {
  width: 25%;
}

.col-xs-2 {
  width: 15.66666667%;
}

.col-xs-1 {
  width: 8.33333333%;
}

.btn-autoconsumo{
  background-color:#335B7A;
  color:#ffffff; 
  padding:10px 15px; 
  border-radius:25px;
  text-align:center;
}
.btn-autoconsumo a{
  color:#ffffff;
  font-weight:bold;
}